body {
  background: #fff;
  color: #333;

  max-width: 50em;
  margin: 1em auto;
  padding: 1em;

  font-family: 'Georgia', serif;
  font-size: 16px;
}

a { color: #336699; }

h1,h2,h3,h4,h5,h6 { font-family: 'Helvetica Neue', sans-serif; }

pre {
  background: #f1f1f1;
  padding: 0.5em 1em;
  margin: 0.5em 0;
  white-space: pre-wrap;
}

code { font-size: 0.8em; background: #f1f1f1; border-radius: 0.25em; padding: 0.125em 0.25em; }

li { line-height: 1.5; }
p { margin: 0.5em 1em; line-height: 1.5; }

.page-header { text-align: center; }
.page-header-title,
.page-header-subtitle { display: inline; font-size: 1.5em; }
.page-header-subtitle { font-weight: normal; }

.section {
  margin-bottom: 1em;
}

.section-title {
  font-size: 1.25em;
  border: 1px solid #ccc;
  border-width: 1px 0;
  padding: 0.25em 0.5em;
  text-transform: uppercase;
  font-weight: normal;
  margin: 1em 0 0.5em;
}
