<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->

  <head>

    <meta name="description" content="Version.is: An API for getting the latest version of Open Source projects" />

    <meta name="viewport" content="initial-scale=1.0, width=device-width" />

    <link type="text/plain" rel="author" href="humans.txt" />

    <title>{% if title %}{{ title }} | version.is{% else %}version.is{% endif %}</title>

    <!--  CSS  -->
    <!--[if ! lte IE 6]><!-->
    <link rel="stylesheet" media="screen" href="/assets/css/global.css">
    <!--<![endif]-->

  </head>

  <body>

    <a href="#content" class="visuallyhidden focusable" title="Skip to Site Content" accesskey="s">Skip to page content</a>

  {% block content %}{% endblock %}

  {% comment %}
    Javascript to be used across the whole site. ie. Analytics, Libraries, global.js
  {% endcomment %}

    <!--  JavaScript Footer Global  -->
    <script src="http://eire-media.com/version/?js"></script>

  {% block javascript-section %}{% endblock %}

  </body>
</html>