{% extends "_base.html" %}

{% block content %}
    <a href="https://github.com/gustavnikolaj/version.is/"><img class="github-ribbon" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>

    <header class="header-main">
      <h1 class="page-header-title"><a href="/" title="">version.is</a></h1>
      <h2 class="page-header-subtitle">| An API for getting the latest version of Open Source projects</h2>
    </header><!--/ page-header  -->

    <section id="search" class="section widget-search">

      <form id="searchForm">
        <input type="text" list="projects" class="input-wide" id="searchInput" placeholder="Enter the projects name&#8230;">
        <input id="searchSubmit" class="hidden" type="submit" value="Search">
        <datalist id="projects">
          {% if projects %}
          {% for prettyname, project in projects %}
          <option value="{{ project }}">
          {% endfor %}
          {% endif %}
        </datalist>
      </form>
      <small id="searchTip">Press arrow down in the input field above to get a list of project names or type the first few letters to get suggestions.</small>
    </section><!--/ section widget-search  -->

    <section class="section">


      <!--<p>If you are in a browser that do not support the <a href="http://caniuse.com/datalist">datalist attribute</a> please refer to the <a href="/projects">list of monitored projects</a>.</p>-->

      <h3 class="delta section-title">Submit a project</h3>

      <p>If there is a project that you would like to see added to the list of monitored projects, please submit it. <a href="https://github.com/gustavnikolaj/version.is-sources#submitting-your-project">Submission instructions</a>.</p>

    </section><!--/ section widget-search  -->

    <section id="content" class="section">

    <h3 class="delta section-title">API Usage</h3>

        <p class="pre-pre">
          Get the version of a single project:
        </p>

        <pre>http://version.is/&lt;project_name&gt;</pre>

        <p class="pre-pre">
          Get a list of all projects monitored:<br>
        </p>
        <pre>http://version.is/projects</pre>

        <p class="pre-pre">
          The response can be delivered in 3 different formats; text/html, text/plain, application/json. You can specify the format using the querystring like this:
        </p>
        <pre>http://version.is/<project_name>?format=&lt;html|plain|json&gt;
http://version.is/projects?format=&lt;html|plain|json&gt;</pre>

        <p class="pre-pre">
          Another way to specify the format, is using HTTP-Accept Headers. Consider the below example of fetching current jquery version in json format with curl in a terminal.<br>(Note that formats defined in the querystring overrules the HTTP-Accept header. For json requested with HTTP-accept header, you still need to use the querystring for a JSONP-callback, as described below.)
        </p>
        <pre>curl -i -H "Accept: application/json" "http://version.is/jquery"</pre>

        <p class="pre-pre">
          If you request the json format, you can specify a callback for JSONP, like this:
        </p>
        <pre>http://version.is/&lt;project_name&gt;?format=json&amp;callback=&lt;callbackFunctionName&gt;</pre>

    </section><!--/ section  -->

    <section class="section">
      <h3 class="delta section-title">Contributors</h3>
      <p>
        Original idea by <a href="https://github.com/higgo/">David Higgins</a> posted as a <a href="https://github.com/h5bp/lazyweb-requests/issues/96/">lazyweb-request</a>.<br>
        Domain sponsored by <a href="https://github.com/nicokunz/">Nico Akunz</a>.<br>
        Front-end design by <a href="https://github.com/michaelbragg/">Michael Bragg</a> with inspiration from prototypes by <a href="https://github.com/higgo/">David Higgins</a> and <a href="https://github.com/gustavnikolaj/">Gustav Nikolaj</a>.<br>
        Code and implementation by <a href="https://github.com/gustavnikolaj/">Gustav Nikolaj</a>. Available on <a href="https://github.com/gustavnikolaj/version.is/">GitHub</a>.
      </p>
      <p>
        Other contributors: <a href="https://github.com/Luit/">Luit van Drongelen</a>,
        <a href="https://github.com/NARKOZ/">Nihad Abbasov</a>,
        <a href="https://github.com/paulirish/">Paul Irish</a>,
        <a href="https://github.com/roblarsen/">Rob Larsen</a>,
        <a href="https://github.com/sagarsane/">Sagar Sane</a> and
        <a href="https://github.com/sindresorhus/">Sindre Sorhus</a>.
      </p>
    </section><!--/ section  -->

    <footer class="footer-main">
      <p>Copyright &copy; 2012 Version.is | Code licensed under the <a href="http://opensource.org/licenses/MIT/" title="">MIT License</a>.</p>
    </footer><!--  footer-main  -->

    <!--  JavaScript Footer  -->

    <script type="text/javascript" src="/assets/js/script.js"></script>

{% endblock %}