{% extends "_base.html" %}

{% block content %}
<header class="header-main">
  <h2 class="logo header-subtitle">{{ project }} </h2>
  <h1 class="logo logo-color">version.is</h1>
  <h2 class="logo header-subtitle">| {{ version }}</h2>
</header>

<section>
{% if meta.website %}
  <p><a href="{{ meta.website }}">Project Website</a></p>
{% endif %}
{% if handler == 'bytags' %}
  <p>Release date: {{ date }}</p>
{% endif %}
</section>


{% endblock %}

{% block javascript-section %}

{% comment %}
  Javascript that is only required in this section/template.
{% endcomment %}

  <!--  JavaScript Footer Section  -->

{% endblock %}